<footer>
	<nav class="round">
		<ul>
			<li>
				<%= link_to "About",'#'%>
			</li>
			<li>
				<%= link_to "Contact",'#'%>
			</li>
			<li>
				<%= link_to "BBC",'http://bbcpercian.com'%>
			</li>
			<li>
				<%= link_to "Tweeter",'http://web.tweetdeck.com'%>
			</li>
		</ul>
	</nav>
</footer>
